<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>

    <title>予約内容確認</title>
</head>
<body>
<div class="samuraitravel-wrapper">
    <!--    ヘッダー-->
    <div th:replace="~{fragment :: header}"></div>

    <main>
        <div class="container pt-4 pb-5 samuraitravel-container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                    <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/houses/__${house.getId()}__}">民宿詳細</a></li>
                            <li class="breadcrumb-item active" aria-current="page">予約内容確認</li>
                        </ol>
                    </nav>

                    <h1 class="mb-4 text-center">予約内容確認</h1>

                    <div th:object="${reservationRegisterForm}">
                        <div class="container mb-4">
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-6">
                                    <span class="fw-bold">チェックイン日</span>
                                </div>

                                <div class="col">
                                    <span th:text="*{checkinDate}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="container mb-4">
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-6">
                                    <span class="fw-bold">チェックアウト日</span>
                                </div>

                                <div class="col">
                                    <span th:text="*{checkoutDate}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="container mb-4">
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-6">
                                    <span class="fw-bold">宿泊人数</span>
                                </div>

                                <div class="col">
                                    <span th:text="*{numberOfPeople + '名'}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="container mb-4">
                            <div class="row pb-2 mb-2 border-bottom">
                                <div class="col-6">
                                    <span class="fw-bold">宿泊料金</span>
                                </div>

                                <div class="col">
                                    <span th:text="*{#numbers.formatInteger(amount, 1, 'COMMA') + '円'}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="paymentButton" class="btn text-white shadow-sm w-100 samuraitravel-btn">決済する</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--    フッター-->
    <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
    <script src="https://js.stripe.com/v3"></script>
    <script th:inline="javascript">
        const sessionId = /*[[${sessionId}]]*/"sessionId";
    </script>
    <script th:src="@{/js/stripe.js}"></script>
</body>
</html>